:root {
  --header-color: #ffffff;
  --primary-pre-title-color: rgba(157, 164, 189, 0.6);
  --secondary-pre-title-color: #303030;
  --primary-title-color: #ffffff;
  --secondary-title-color: #303030;
  --primary-after-title-color: #9da4bd;
  --secondary-after-title-color: #555555;
  --primary-btn-color: #ffffff;
  --secondary-btn-color: #303030;
  --accent-color: #ff6c00;
  --hero-link-color: #303030;
  --primary-text-color: #303030;
  --secondary-text-color: #555555;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f7f7f7;
  --prices-text-color: #9da4bd;
  --online-background-color: #191c26;
  --contacts-text-color: #9da4bd;
  --copyright-color: #9da4bd;
  --footer-link-color: #303030;
  --typical-gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* Header */

.header {
  background-color: teal;
  /* поміняти на картинку */
}

.header .container {
  display: flex;
}

.header-list {
  display: flex;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  color: var(--primary-btn-color);
}

/* Hero */
.hero-list {
  padding: 0px;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--hero-link-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-content {
  background-color: black;
  /* поміняти на картинку */
}

.hero-pre-title {
  color: var(--primary-pre-title-color);
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--primary-title-color);
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-after-title-color);
}

/* About */

.about-pre-title {
  color: var(--secondary-pre-title-color);
}

.about-title {
  color: var(--secondary-title-color);
}

.about-after-title {
  color: var(--secondary-pre-title-color: );
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.about-btn {
  color: var(--secondary-btn-color);
}

/* Prices */

.prices {
  background-color: black;
  /* поміняти на картинку */
}
.prices-pre-title {
  color: var(--primary-pre-title-color);
}

.prices-title {
  color: var(--primary-title-color);
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--prices-text-color);
}

.prices-btn {
  color: var(--primary-btn-color);
}

/* Reasons */

.reasons-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--primary-text-color);
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-text-color);
}

.reasons-pre-title {
  color: var(--secondary-pre-title-color);
}
.reasons-title {
  color: var(--secondary-title-color);
}
.reasons-after-title {
  color: var(--secondary-after-title-color);
}
/* Masters */
.masters-pre-title {
  color: var(--secondary-pre-title-color);
}

.masters-title {
  color: var(--secondary-title-color);
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

/* Gallery */

.gallery-pre-title {
  color: var(--secondary-pre-title-color);
}

/* Online */

.online {
  background-color: var(--online-background-color);
}

.online-title {
  color: var(--primary-title-color);
}

/* Contacts */

.contacts {
  background-color: black;
  /* поміняти на картинку */
}

.contacts-title {
  color: var(--primary-title-color);
}

.contacts-address {
  font-style: normal;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--contacts-text-color);
}

.contacts-time-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.contacts-time-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--contacts-text-color);
}

/* Footer */

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--copyright-color);
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--footer-link-color);
}
